<!-- Enlazamos un 'FormGroup' al elemeento form de HTML
  gracias a la directiva FormGroup. En el caso de querer 
  enlazar propuedades del modelo del FormGroup a los elementos
  del input del formulario, lo haremos con la directiva formControlName
  -->
<form 
  [formGroup]="formulario" 
  (ngSubmit)="guardarContacto()">
  <div>
    <label for="">Nombre</label>
    <input type="text" formControlName="nombre">
    <span *ngIf="formulario.get('nombre').invalid">
      No cumple
    </span>
  </div>
  <div>
    <label for="">Apellidos</label>
    <input type="text" formControlName="apellidos">
    <span *ngIf="formulario.get('apellidos').invalid">
      No cumple
    </span>
  </div>
  <div>
    <button type="submit">Guardar Contacto</button>
  </div>
</form>