<!-- Enlazamos un 'FormGroup' al elemeento form de HTML
  gracias a la directiva FormGroup. En el caso de querer 
  enlazar propuedades del modelo del FormGroup a los elementos
  del input del formulario, lo haremos con la directiva formControlName
  -->
<form 
  [formGroup]="formulario" 
  (ngSubmit)="notificarGuardadoContacto()">
  
  <div class="row">
    <div class="offset-by-three six columns">
      
      <label for="">Nombre</label>
      <input type="text" formControlName="nombre" class="u-full-width">
      <span *ngIf="formulario.get('nombre').touched && formulario.get('nombre').invalid">
        No cumple
      </span>
    </div>
  </div>
  <div class="row">
    <div class="offset-by-three six columns">
      <label for="">Apellidos</label>
      <input type="text" formControlName="apellidos"  
      class="u-full-width">
      <span *ngIf="formulario.get('apellidos').touched && formulario.get('apellidos').invalid">
        No cumple
      </span>
    </div>
  </div>
  <div class="row">
    <div class="offset-by-three six columns">
      <button type="submit" 
      [disabled]="formulario.invalid"
      class="u-full-width">Guardar Contacto</button>

    </div>
  </div>
</form>