<div *ngIf="contacto">
  <!-- Nombre del contacto -->
  <h4>{{ contacto.nombre }} {{ contacto.apellidos }}</h4>
  <hr>
  <!-- Redes Sociales -->
  <button type=""
  (click)="notificarNavegacionFacebook()">
    <i class="fa fa-facebook-square" aria-hidden="true"></i>
  </button>
  <button type=""
  (click)="notificarNavegacionTwitter()">
    <i class="fa fa-twitter-square" aria-hidden="true"></i>
  </button>
  <hr>
 
  <!-- Datos de contacto -->
  <div>
    {{ contacto.email }} | {{ contacto.movil }}
  </div>
</div>