<header>
  <h1>Agenda</h1>
</header>
<!-- 
  Barra de navegación 
  En la directiva RouterLinkk indicamos la ruta
 --> 
<nav>
  <ul>
    <li><a routerLink="/lista-contactos">Mis contactos</a></li>
    <li><a routerLink="/nuevo-contacto">Nuevo Contacto</a></li>
  </ul>
</nav>

<!-- Cona dinámica -->
<router-outlet></router-outlet> 

<!-- 
  Para evaluar el valor de un atributo previamente 
  a su asignación, debemos poner 
  entre corchetes el nombe del atributo.
  Si queremos recoger los datos que vienen dados en un evento,
  utilizamos la pabra reservada '$event'
--> 
